# Dependencies
node_modules/

# Environment variables
.env

# Database file (will be created on server)
orders.db

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
